# Backend API base URL
REACT_APP_API_URL=

# Firebase toggle
REACT_APP_ENABLE_FIREBASE=false

# Meta WhatsApp Embedded Signup public frontend config
# Do NOT add Meta App Secret in frontend.
REACT_APP_META_APP_ID=
REACT_APP_META_CONFIG_ID=1134889486382484
REACT_APP_META_GRAPH_VERSION=v23.0
REACT_APP_META_OAUTH_REDIRECT_URI=https://smcis.edubridgeerp.in/whatsapp-api-settings
