.report-card-header img {
  object-fit: contain;
}

.report-card-header {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.report-card-footer {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  font-style: italic;
}
